microservices-demo/bin/
microservices-demo/pkg/
.DS_Store
microservices-demo/*.pyc
microservices-demo/*.swp
microservices-demo/*~
.vscode/
.vs/
.idea
microservices-demo/.skaffold-*.yaml
microservices-demo/.kubernetes-manifests-*/
